.EventHistory {
    .event {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}