.FormItem{
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &.Column {
      flex-direction: column;
      width: 200px;
      margin-bottom: 0;

      .input{
        width: 100%;
      }

      .label {
        margin-right: 0;
      }

    }

  .label {
    margin-right: 10px;
  }

  .input { 
    width: 400px;
  }

  .input-textarea {
    height: 100px;
  }
}

