.App {
  text-align: center;
  position: relative;

  .LoaderFullScreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.248);
    display: flex;
    z-index: 999;

    svg {
      transform: scale(5);
    }
  }
  
  .App-logo {
    height: 200px;
    pointer-events: none;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20px;;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s ease-in-out;
    }
  }

  .App-header {
    margin-top: 60px;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    padding: 50px 0 20px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .explanation {
    max-width: 800px;
    font-size: 16px;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  

  .section {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    max-width: 1000px;
    text-align: left;
  }

  hr {
    &.section {
      margin-top: 30px;
    }

    &.endSection {
      color: rgb(10, 7, 0);
      height: 3px;
      border-radius: 5px;
    }
  }

  .form {
    margin: 20px 0 0;
  }

  .button {
    width: 200px;
    display: flex;
    color: white;
    transition: all 0.3s linear;
    border-radius: 5px;
    border: none;
    outline: none;
    
    &:hover,
    &:focus {
      opacity: 0.8;
    }
    
  }

  .submitButton {
    background-color: lightseagreen;
    margin: 20px 0 0 0;

  }

  .buttonText {
    margin: auto;
    padding: 20px;
  }

  .statuses {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }


  .contractStatus {
    color: white;
    font-size: 20px;
    padding: 15px;
    transition: all 1s;
    width: 100%;
    
    &.operational {
      background-color: green;
    }
    
    &.notOperational {
      background-color: red;
    }
  }

  .content {
    padding: 20px;
  }
}



